body{
    margin:0;  
 }

.wrapper{
    height:100%;
    max-width: 100%;
    background-color:rgb(180, 194, 233);
    margin:0;
    display:block;
}

.h1{
    font-family:'Roboto', sans-serif;
    color:white;
    font-weight: 500;
    text-transform: uppercase;
    font-size:64px;
    padding-top:50px;
    margin:0px 0px 5px 150px;
    
}
.h2{
    font-size:36px;
    font-family:'Roboto', sans-serif;
    color:rgba(29,54,138);
    padding:30 0 20 50;
    margin:0px 0px 15px 150px;
}

p{
    font-family:'Roboto', sans-serif;
    font-weight:300;
    font-size:small;
}

ul.ul {
    list-style-type: none;
    margin: 0 auto;
    padding:10px;
    background-color:rgba(149, 109, 108);
    font-family:'Roboto', sans-serif;
    font-weight:300;
   
}
header>nav>ul>li{
    display:inline;
}


nav>ul>li a.accueil{
    color:white;
    text-decoration: none;
    font-size:x-large;
    margin:0px 0px 0px 145px;

}
nav>ul>li a.nospokemons{
    color:rgb(59, 32, 20);
    font-weight:bold;
    padding:10px;
    font-size:x-large;;
    
}
.header{
    margin:0 auto;
    display:block;
    font-family: Arial, Helvetica, sans-serif;

}
#section{
    
    margin:50px 150px 0px 150px;
}

#flower{
    max-width:100%;
    margin-top:30px;
    margin-bottom:30px;
    display: block;
    margin:auto;
    padding:10px 0px 60px 0px;
}
.article1{
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(196,196,196);
    float:left;
    max-width: 69.5%;
    padding:40px;
    padding-bottom:0;
    display:block;   
    

}
#titre1{
    font-size:36px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    margin:0;
}
#sous-titre{
    margin:0;
    font-size:18px;
}
.italique{
    font-size:14px;
    font-size:300;  

}
#lien-page{
    text-align: right;
    font-family: 'Robot',sans-serif;
    font-weight:300;
    font-weight: bold;
    
}

#sidebar{
    display:block;
    margin:10px 0px 0px 15px;
    min-width:20.5%;
    float:left;
    background-color:rgb(174,107,105);
    font-weight:300,bold;
    color:white;
    padding:10px 0px 10px 10px;
    font-family: 'Roboto',sans-serif;
    font-size:18px;
    height: 664px;
   
    
}
#sidebar li, .pikachu1 li {
    list-style-type: none;
}


#categories{
    margin-left:85px;
    font-size:24px;
    font-weight:bold;
    font-family: 'Roboto',sans-serif;

    
}
ul{
    padding-left:10px;
   
    padding-bottom:15px;
    font-family: 'Roboto',sans-serif;  
}

.wrapper2{
    width:90%;
    
    
    
    
}
.left{
    width: 18%;
    float:left;
    background-color:rgb(196, 196, 196);
    height:300px;
    display:block;
    margin:30px 20px 150px 150px;
    
    
    
}
.middle{
    width: 43%;
    float:left;
    background-color:rgb(196, 196, 196);
    height:260px;
    display:block;
    margin:30px 10px 150px 20px;
    padding:20px;
   
}

.right{
    width: 18%;
    background-color:rgb(196, 196, 196);
    height:300px;
    display:block;
    float:left;
    margin:30px 10px 150px 20px;
    

}
.meilleurs{
    text-align:center;
    font-weight:bold;
    font-size:large;
}
.fixed{
    background-color:gray;
    position:fixed;
    bottom:0;
    width:100%;
    min-height: 50px;
    text-align:center;
    display:block;
   
}
footer{
   text-align: center;
   padding-top:50px;
   padding-bottom:50px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size:large;
}
section.pikachu1{

    background-color:rgb(196, 196, 196);
    width:60%;
    margin:50px auto;
    min-height:300px;
    float:right;
    font-family:Arial, Helvetica, sans-serif; 
}
body{
    margin:auto;
}
.pikachu1{
    padding:30px;
    font-size:small;
    max-width:100%;
    max-height:100%; 
}

div.articles{
    margin-right:160px;   
}
.pikachu{
    height:300px;
    float:left;
    margin-left:150px;
    margin-top:50px;
    padding-top:55px;
    padding-bottom:55px;
}
.titre-articles{
    font-size:36px;
    font-weight:bold;
    float:left;
    padding-right:30px;
    margin-bottom:0;
}
.subtitle{
    font-size:18px;
    margin-top:-12px;
    font-weight: bold;
}
.element{
    font-weight:bold;
    margin-right:5px;
}
.sidetext{
    float:left;
    font-size:small;   
}
.skills{
    margin:10px 0px 10px 0px;
    padding:0;
    display:block;
    font-size:small;
}
.skill{
    font-weight: bold;
   
}
